body {
    font-family: "Inika", serif;
    color: #8B7969;
    background-color: #FFF;
}

.header {
    border-bottom: 1px solid rgba(224, 223, 222, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    position:sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.header_ttl {
    width: 1000px;
    text-align: center;
    background: #FFF;
}

.header_ttl-logo {
    font-size: 40px;
}