.table input {
    color: #8B7969;
    font-family: Inika;
    font-size: 20px;
    border: none;
}

.table textarea {
    color: #8B7969;
    font-family: Inika;
    font-size: 20px;
    border: none;
    width: 459px;
    height: 52.209px;
    resize: none;
}

.confirm {
    margin: 50px auto;
}

.confirm_content {
    width: 1000px;
    margin: 0 auto;
}

.content_ttl {
    display: flex;
    justify-content: center;
}

.ttl_logo {
    color: #8B7969;
    font-family: Inika;
    font-size: 35px;
}

.confirm_form {
    margin-top: 50px;
}

.table {
    border: 1px solid #E0DFDE;
    border-collapse: collapse;
}

.table tr {
    border-bottom: 1px solid #E0DFDE;
    font-family: Inika;
    font-style: normal;
}

tr:last-child {
    height: 115px;
}

.table th {
    width: 300px;
    height: 70px;
    background: #BAA899;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding-left: 60px;
}

.table td {
    width: 670px;
    height: 70px;
    padding-left: 45px;
    color: #8B7969;
    font-family: Inika;
    font-size: 20px;
}

.confirm_button {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm_button-submit {
    display: flex;
    height: 42px;
    padding: 10px 40px;
    align-items: center;
    background: #82756A;
    color: #FFF;
    font-family: Inika;
    font-size: 20px;
    margin-right: 50px;
    border: none;
}

.confirm_button a {
    color: #8B7969;
    font-family: Inika;
    font-size: 20px;
}